#id_0 {
  top: 0%;
  left: 0%;
  
  
  width: 960px;
  height: 540px;
}


#id_1 {
  top: 0px;
  left: 0px;
  
  
  width: 959px;
  height: 538px;
}


#id_2 {
  top: 0px;
  left: 0px;
  
  
  width: 960px;
  height: 540px;
}


.id_3_d {
  width: 249px;
  height: 258px;
}


#id_3 {
  width: 249px;
  height: 258px;
  left: 37px;
  top: 229px;
  
  
}


.id_4_d {
  width: 249px;
  height: 258px;
}


#id_4 {
  width: 249px;
  height: 258px;
  left: 361px;
  top: 229px;
  
  
}


.id_5_d {
  width: 246px;
  height: 258px;
}


#id_5 {
  width: 246px;
  height: 258px;
  left: 686px;
  top: 229px;
  
  
}


#id_6 {
  top: 0px;
  left: 0px;
  
  
  width: 959px;
  height: 538px;
}


#id_7 {
  top: 0px;
  left: 0px;
  
  
  width: 960px;
  height: 540px;
}


.id_8_d {
  width: 189px;
  height: 189px;
}


#id_8 {
  width: 189px;
  height: 189px;
  left: 501px;
  top: 232px;
  
  
}


.id_9_d {
  width: 189px;
  height: 189px;
}


#id_9 {
  width: 189px;
  height: 189px;
  left: 17px;
  top: 232px;
  
  
}


.id_10_d {
  width: 96px;
  height: 24px;
}


#id_10 {
  width: 96px;
  height: 24px;
  left: 852px;
  top: 507px;
  
  
}


#id_11 {
  top: 0px;
  left: 0px;
  
  
  width: 958px;
  height: 539px;
}


#id_12 {
  top: 0px;
  left: 0px;
  
  
  width: 960px;
  height: 540px;
}


.id_13_d {
  width: 354px;
  height: 57px;
}


#id_13 {
  width: 354px;
  height: 57px;
  left: 222px;
  top: 6px;
  
  
}


.id_14_d {
  width: 204px;
  height: 51px;
}


#id_14 {
  width: 204px;
  height: 51px;
  left: 10px;
  top: 12px;
  
  
}


.id_15_d {
  width: 204px;
  height: 48px;
}


#id_15 {
  width: 204px;
  height: 48px;
  left: 585px;
  top: 12px;
  
  
}


.id_16_d {
  width: 411px;
  height: 441px;
}


#id_16 {
  width: 411px;
  height: 441px;
  left: 26px;
  top: 90px;
  
  
}


.id_17_d {
  width: 423px;
  height: 453px;
}


#id_17 {
  width: 423px;
  height: 453px;
  left: 500px;
  top: 90px;
  
  
}


#id_17_a {
  width: 423px;
  height: 453px;
}


