#hak_id_1313502233708847091{
  top: 0px;
  left: 0px;
  width: 960px;
  height: 540px;
}
#hak_id_1313502551306842585{
  top: 0px;
  left: 0px;
  width: 959px;
  height: 538px;
}
#hak_id_1313502795560454402{
  top: 0px;
  left: 0px;
  width: 960px;
  height: 540px;
}
.hak_id_1313502702777282422_d{
  width: 249px;
  height: 258px;
}
#hak_id_1313502702777282422{
  width: 249px;
  height: 258px;
  left: 37px;
  top: 229px;
}
.hak_id_1313502705799904979_d{
  width: 249px;
  height: 258px;
}
#hak_id_1313502705799904979{
  width: 249px;
  height: 258px;
  left: 361px;
  top: 229px;
}
.hak_id_1313502708218698511_d{
  width: 246px;
  height: 258px;
}
#hak_id_1313502708218698511{
  width: 246px;
  height: 258px;
  left: 686px;
  top: 229px;
}
#hak_id_131350670572156148{
  top: 0px;
  left: 0px;
  width: 959px;
  height: 538px;
}
#hak_id_1315947672976347679{
  top: 0px;
  left: 0px;
  width: 960px;
  height: 540px;
}
.hak_id_1313506705743949703_d{
  width: 189px;
  height: 189px;
}
#hak_id_1313506705743949703{
  width: 189px;
  height: 189px;
  left: 501px;
  top: 232px;
}
.hak_id_1313506705743309922_d{
  width: 189px;
  height: 189px;
}
#hak_id_1313506705743309922{
  width: 189px;
  height: 189px;
  left: 17px;
  top: 232px;
}
.hak_id_1313527147035788891_d{
  width: 96px;
  height: 24px;
}
#hak_id_1313527147035788891{
  width: 96px;
  height: 24px;
  left: 852px;
  top: 507px;
}
#hak_id_131352776901985748{
  top: 0px;
  left: 0px;
  width: 958px;
  height: 539px;
}
#hak_id_1313527811702824695{
  top: 0px;
  left: 0px;
  width: 960px;
  height: 540px;
}
.hak_id_1313527820866350753_d{
  width: 354px;
  height: 57px;
}
#hak_id_1313527820866350753{
  width: 354px;
  height: 57px;
  left: 222px;
  top: 6px;
}
.hak_id_1313528044894474540_d{
  width: 204px;
  height: 51px;
}
#hak_id_1313528044894474540{
  width: 204px;
  height: 51px;
  left: 10px;
  top: 12px;
}
.hak_id_1313528090074139094_d{
  width: 204px;
  height: 48px;
}
#hak_id_1313528090074139094{
  width: 204px;
  height: 48px;
  left: 585px;
  top: 12px;
}
.hak_id_1315986928818891135_d{
  width: 411px;
  height: 441px;
}
#hak_id_1315986928818891135{
  width: 411px;
  height: 441px;
  left: 26px;
  top: 90px;
}
.hak_id_1315986967924545646_d{
  width: 423px;
  height: 453px;
}
#hak_id_1315986967924545646{
  width: 423px;
  height: 453px;
  left: 481px;
  top: 90px;
}
.hak_id_1313502702777282422_d{
  width: 249px;
  height: 258px;
}
.hak_id_1313502702777282422_f{
  width: 249px;
  height: 258px;
}
.hak_id_1313502702777282422_a{
  width: 249px;
  height: 258px;
}
.hak_id_1313502705799904979_d{
  width: 249px;
  height: 258px;
}
.hak_id_1313502705799904979_f{
  width: 249px;
  height: 258px;
}
.hak_id_1313502705799904979_a{
  width: 249px;
  height: 258px;
}
.hak_id_1313506705743949703_f{
  width: 189px;
  height: 189px;
}
.hak_id_1313506705743949703_a{
  width: 189px;
  height: 189px;
}
.hak_id_1313527820866350753_d{
  width: 354px;
  height: 57px;
}
.hak_id_1313527820866350753_f{
  width: 354px;
  height: 57px;
}
.hak_id_1313527820866350753_a{
  width: 354px;
  height: 57px;
}
